$text-main: #24282a;
$text-secondary: #585c5e;
$text-main-white: #f7f7f7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-gradient {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 100%;
    background: linear-gradient(180deg, #f68722 0%, #ffffff 100%);
    opacity: 0.16;
  }
}

.logo-section {
  margin-top: 55px;
  margin-bottom: 55px;
}

.main-title {
  font-size: 24px;
  line-height: 34px;
  font-family: m_h_semibold;
}

.secondary-title {
  font-size: 21px;
  line-height: 30px;
  font-family: m_h_semibold;
}

.content {
  font-family: m_h_regular;
  font-size: 16px;
  line-height: 24px;
  color: #585c5e;
}

.link-info {
  text-decoration: underline;
}

.terms-dialog {
  border-radius: 32px 32px 0px 0px !important;
  padding: 45px 24px;
}

.main-wrapper {
  background-color: #e5e5e5;
  height: 100vh;
}

.primary-detail-title {
  font-family: m_h_semibold;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: $text-main;

  &.title-white {
    color: $text-main-white;
  }
}

.secondary-detail-title {
  font-family: m_h_medium;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $text-secondary;
  opacity: 0.7;
  letter-spacing: -0.3px;
  margin-bottom: 0;

  &.title-white {
    color: $text-main-white;
    opacity: 0.8;
  }
}

.page-links {
  .q-btn {
    color: $text-main !important;
    padding: 20px 12px;
    font-family: m_m_medium;
    font-size: 14px;
    line-height: 18px;
    height: 102px;

    svg {
      margin-bottom: 12px;
    }

    &__content {
      flex-direction: column;
    }

    * {
      padding: 0;
    }
  }
}
